<!-- Shows!  Seasons! Edit! -->
        <%- include('../../partials/header') %>
            <div class="ui center aligned inverted vertical very padded segment masthead">
                <h1 class="ui inverted header">Edit Season</h1>
            </div>
            <div class="ui vertical very padded segment container">
                <form class="ui form" action="/shows/<%= show.id %>/seasons/<%= season.id %>?_method=PUT" method="POST">
                    <h2 class="ui dividing header">
                        <%= show.title %>
                        <p class="sub header">Editing name for <%= season.name %></p>
                    </h2>
                        <div class="field">
                            <label for="input-name">Update Season Name</label>
                            <input id="input-name" type="text" name="season[name]" placeholder="<%= season.name %>">
                        </div>
                    <h3 class="ui header">Existing Seasons:</h3>
                        <% if(show.seasons[0]){ %>
                        <ul class="ui list">
                        <% show.seasons.forEach(function(season){ %>
                        <li><%= season.name %></li>
                        <% }); %>
                        </ul>
                        <% } else { %>
                        <p>Nothing!</p>
                        <% } %>
                        <input class="ui primary large button" type="submit">
                </form>
            </div> <!--/container-->
        </main>
        <script>
        $('.ui.dropdown').dropdown();
        </script>
    <%- include('../../partials/footer') %>