<!-- Shows!  Images! Edit! -->
        <%- include('../../../partials/header') %>
            <div class="ui center aligned inverted vertical very padded segment masthead">
                <h1 class="ui inverted header"><%= show.title %>
                    <p class="sub header">Edit Image in <%= season.name %></p>
                </h1>
            </div>
            <div class="ui vertical very padded segment container">
                <form class="ui form" enctype="multipart/form-data" action="/shows/<%= show._id %>/seasons/<%= season._id %>/images/<%= image._id %>?_method=PUT" method="POST">
                    <h2 class="ui dividing header">Edit Image</h2>
                        <div class="field">
                            <label for="input-desc">Description</label>
                            <input id="input-desc" type="text" name="img[description]" value="<%= image.description %>" required>
                        </div>
                        <div class="ui two column middle aligned stackable grid">
                            <div class="field column">
                                <label for="input-img">Image</label>
                                <input id="input-img" type="file" name="img[upload]">
                            </div>
                            <div class="column">
                                <h3 class="ui small centered header">Existing Image:</h3>
                                <img class="ui small centered image" src="<%= image.thumbnail %>">
                            </div>
                        </div>                        
                        <div class="grouped fields">
                            <label for="img[spoiler]">Does this contain a spoiler?</label>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <label>Yes</label>
                                    <input type="radio" name="img[spoiler]" value="true"
                                        <%= image.spoiler ? 'checked' : '' %>
                                    >
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <label>No</label>
                                    <input type="radio" name="img[spoiler]" value="false"
                                        <%= !image.spoiler ? 'checked' : '' %>
                                    >
                                </div>
                            </div>                            
                        </div>
                        <input class="ui primary large fluid button" type="submit" >
                </form>
                <form id="delete-form" class="ui form" action="/shows/<%= show._id %>/seasons/<%= season._id %>/images/<%= image._id %>?_method=DELETE" method="POST">
                    <button id="delete-button" class="ui large basic fluid negative button" type="button">Delete</button>
                </form>
            </div> <!--/container-->
            <div class="ui mini modal">
                <div class="header">Confirm Deletion</div>
                <div class="content">
                    <p>Are you sure you want to delete this?</p>
                </div>
                <div class="actions">
                    <div class="ui approve negative button">Delete</div>
                    <div class="ui cancel button">Cancel</div>
                </div>
            </div>
        </main>
        <script>
            $('.ui.dropdown').dropdown({
                action: 'hide'
            });
            $('.ui.radio.checkbox').checkbox();
            $('.ui.modal').modal({
                onApprove: function(){
                    $('#delete-form').submit();
                }
            });
            $('#delete-button').click(function(){
                $('.ui.modal').modal('show');
            });     
        </script>
    <%- include('../../../partials/footer') %>