<!-- Shows!  Index! -->
        <%- include('../partials/header'); %>
            <div class="ui center aligned inverted vertical very padded segment masthead">
                <h1 class="ui inverted header">Moe Moe Club</h1>
                <h2 class="ui inverted header">Shows</h2>
                <a href="/shows/new" class="ui large primary button">Add a show!</a>
            </div>
            <div class="ui vertical very padded segment container">
                <div id="showcase" class="ui centered cards">
                    <% shows.forEach(function(show){ %>
                    <div class="ui raised link card">
                        <% if(userCurrent && ((show.author && show.author == userCurrent.id) || userCurrent.isAdmin)){ %>
                        <a href="/shows/<%= show._id %>/edit" class="ui right corner label">
                            <i class="edit icon"></i>
                        </a>
                        <% } %>
                        <a href="/shows/<%= show._id %>" class="image">                 
                            <img src="<%= show.thumbnail %>" alt="<%= show.title %> poster art">
                        </a>
                        <div class="content">
                            <a href="/shows/<%= show._id %>" class="header"><%= show.title %></a>
                            <div class="meta">
                                <span class="date"><%= show.year %></span>
                                <span class="foreign-name"><%= show.foreignTitle %></span>
                            </div>
                            <div class="ui horizontal divider">
                                Tags
                            </div>
                            <div class="extra content">
                                <% if(show.tags[0]){ %>
                                <% show.tags.forEach(function(tag){ %>
                                <div class="ui basic label"><%= tag %></div>
                                <% }); %>
                                <% } %>
                            </div>
                        </div>
                    </div> <!--/card-->
                    <% }); %>
                </div> <!--/cards-->
            </div> <!--/container-->
        </main>
        <script>
            $('.ui.dropdown').dropdown({
                action: 'hide'
            });
        </script>
    <%- include('../partials/footer') %>