<!-- Shows!  Index! -->
        <%- include('../partials/header') %>
            <div class="ui center aligned inverted vertical very padded segment masthead">
                <h1 class="ui inverted header"><%= show.title %>
                    <p class="sub header"><%= show.foreignTitle %></p>
                </h1>
            </div>
            <div id="content" class="ui vertical very padded segment container">
                <div class="ui centered stackable grid">
                    <div class="six wide column">
                        <div class="ui raised segments">
                            <div class="ui segment">
                                <img class="ui medium centered image" src="<%= show.image %>">
                                <h2 class="ui medium header"><%= show.title %>
                                    <p class="sub header"><%= show.foreignTitle %></p>
                                </h2>
                                <p>Debut: <%= show.year %></p>
                            </div>
                            <div class="ui segment">
                                <h3 class="ui small header">Description</h3>
                                <p><%= show.description %></p>
                            </div>
                            <div class="ui segment">
                                <h3 class="ui small header">Tags</h3>
                                <% if(show.tags[0]){ %>
                                <% show.tags.forEach(function(tag){ %>
                                <span class="ui basic label"><%= tag %></span>
                                <% }); %>
                                <% } else { %>
                                Nothing!
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <div class="ui segments">
                            <a href="/shows/<%= show._id %>/seasons/new" class="ui top attached button">
                                Add a Season
                            </a>
                            <% if(show.seasons[0]){ %>
                            <% show.seasons.forEach(function(season){ %>
                            <div class="ui segment">
                                <h3>
                                    <a href="/shows/<%= show._id %>/seasons/<%= season._id %>/edit" id="edit-button" class="circular compact left floated ui small basic icon button">
                                        <i class="edit icon"></i>
                                    </a>
                                    <span class="ui header"><%= season.name %></span>
                                </h3>
                                <div class="ui basic segment">
                                    <h4>
                                        <a href="/shows/<%= show._id%>/seasons/<%= season._id %>/videos/new" class="circular compact left floated ui mini basic icon button">
                                            <i class="add icon"></i>
                                        </a>
                                        <span class="ui header">Clips</span>
                                    </h4>                                                                                                      
                                    <% if(season.videos.length){ %>                                    
                                    <div class="ui two stackable cards">
                                        <% season.videos.forEach(function(video){ %>
                                        <div class="card">
                                            <a href="<%= video.url %>" class="video-modal-open pointer-cursor image <%= video.spoiler ? 'spoiler' : '' %>" data-url="<%= video.url %>" data-desc="<%= video.description %>">
                                                <img src="<%= video.thumbnail %>">
                                            </a>
                                            <div class="content">
                                                <div class="description"><%= video.description %></div>
                                            </div>
                                            <a class="ui bottom attached button" href="/shows/<%= show._id %>/seasons/<%= season._id %>/videos/<%= video._id %>/edit">
                                                <i class="edit icon"></i>
                                            </a>
                                        </div>
                                        <% }) %>
                                    </div>
                                    <% } else { %>
                                    <div class="ui icon message">
                                        <i class="frown outline icon"></i>
                                        <div class="content">
                                            <div class="header">Sabishii...</div>
                                            <p>There's nothing here!</p>
                                        </div>
                                    </div>  
                                    <% } %>                                    
                                </div>
                                <div class="ui basic segment">
                                    <h4>
                                        <a href="/shows/<%= show._id%>/seasons/<%= season._id %>/images/new" class="circular compact left floated ui mini basic icon button">
                                            <i class="add icon"></i>
                                        </a>
                                        <span class="ui header">Images</span>
                                    </h4>                                    
                                    <% if(season.images.length){ %>
                                    <div class="img-gallery ui two stackable cards">
                                        <% season.images.forEach(function(image){ %>
                                        <div class="card">
                                            <div class="image-modal-open pointer-cursor image <%= image.spoiler ? 'spoiler' : '' %>" data-url="<%= image.url %>" data-desc="<%= image.description %>">
                                                <img src="<%= image.thumbnail %>">
                                            </div>
                                            <div class="content">
                                                <div class="description"><%= image.description %></div>
                                            </div>
                                            <a class="ui bottom attached button" href="/shows/<%= show._id %>/seasons/<%= season._id %>/images/<%= image._id %>/edit">
                                                <i class="edit icon"></i>
                                            </a>
                                        </div>
                                        <% }) %>
                                    </div>
                                    <% } else { %>
                                    <div class="ui icon message">
                                        <i class="frown outline icon"></i>
                                        <div class="content">
                                            <div class="header">Sabishii...</div>
                                            <p>There's nothing here!</p>
                                        </div>
                                    </div>  
                                    <% } %>                                    
                                </div>
                            </div>
                            <% }); %>
                            <% } else {  %>
                            <div class="ui segment">
                                <div class="ui icon message">
                                    <i class="frown outline icon"></i>
                                    <div class="content">
                                        <div class="header">Sabishii...</div>
                                        <p>There's nothing here!</p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div> <!--/container-->
            <!-- <div id="video-modal" class="ui basic modal">
                <i class="large close icon"></i>
                <div class="header"></div>
                <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;">
                    <iframe src="" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe>
                </div>
            </div>  -->
            <div id="image-modal" class="ui basic fullscreen modal">
                <i class="large close icon"></i>
                <div class="header"></div>
                <img class="ui centered image">
            </div> <!-- /modal -->
        </main>
        <script>
        $('.ui.dropdown').dropdown();
        $('.video-modal-open').click(function(){
            var modalSrc = $(this).attr('data-url');
            var modalDesc = $(this).attr('data-desc');
            $('.ui.modal iframe').attr('src', modalSrc) 
            $('.ui.modal .header').text(modalDesc);
            $('#video-modal').modal({
                onHide: function(){
                    $(this).find('iframe').attr('src', '');
                }
            })
            .modal('show');
        })
        $('.image-modal-open').click(function(){
            var modalSrc = $(this).attr('data-url');
            var modalDesc = $(this).attr('data-desc');
            $('.ui.modal img').attr('src', modalSrc) 
            $('.ui.modal .header').text(modalDesc);
            $('#image-modal').modal('refresh');
            $('#image-modal').modal('show');
        })
        </script>
    <%- include('../partials/footer') %>