<!-- Shows!  Videos! Edit! -->
        <%- include('../../../partials/header') %>
            <div class="ui center aligned inverted vertical very padded segment masthead">
                <h1 class="ui inverted header"><%= show.title %>
                    <p class="sub header">Edit Clip in <%= season.name %></p>
                </h1>
            </div>
            <div class="ui vertical very padded segment container">
                <form class="ui form" action="/shows/<%= show._id %>/seasons/<%= season._id %>/videos/<%= video._id %>?_method=PUT" method="POST">
                    <h2 class="ui dividing header">Edit Clip</h2>
                        <div class="field">
                            <label for="input-desc">Description</label>
                            <input id="input-desc" type="text" name="video[description]" value="<%= video.description %>">
                        </div>
                        <div class="field">
                            <label for="input-url">Streamable URL</label>
                            <input id="input-url" type="text" name="video[url]" value="<%= video.url %>">
                        </div>
                        <div class="grouped fields">
                            <label for="video[spoiler]">Does this contain a spoiler?</label>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <label>Yes</label>
                                    <input type="radio" name="video[spoiler]" value="true"
                                        <%= video.spoiler ? 'checked' : '' %>
                                    >
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <label>No</label>
                                    <input type="radio" name="video[spoiler]" value="false"
                                        <%= !video.spoiler ? 'checked' : '' %>
                                    >
                                </div>
                            </div>                            
                        </div>
                        <input class="ui primary large fluid button" type="submit" >
                </form>
                <form id="delete-form" class="ui form" action="/shows/<%= show._id %>/seasons/<%= season._id %>/videos/<%= video._id %>?_method=DELETE" method="POST">
                    <input class="ui large basic fluid negative button" type="submit" value="Delete">
                </form>
            </div> <!--/container-->
        </main>
        <script>
            $('.ui.dropdown').dropdown();
            $('.ui.radio.checkbox').checkbox()
;
        </script>
    <%- include('../../../partials/footer') %>